:root{
    --black: #0e0d0d;
    --soft-black: #202020;
    --white: #ffffff;
    --blue: #4470e6;
    --soft-red: #ff746b;
    --soft-green: #68f863;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}
body{
    background-color: var(--white);
    color: var(--black);
    
    margin: 0;
}
/*-----------------------------------Estilos de Navbar-----------------------------------------*/
nav{
    background-color: var(--white);
    padding: 10;
    
}
.title-container {
    justify-content: center;
    display: flex;
    min-width: 370px;
}
.title-container h1{
    background-color: var(--blue);
    color: var(--white); 
    padding: 20px 10px;
    margin: 10px 0;
    border-radius: 40px;
    text-align: center;
    font-size: 3rem; 
}
/*-----------------------------------Estilos de Contenido-----------------------------------------*/


.main-container .data-container{
    display: flex;
    width: 70%;
    min-width: 370px;
    max-width: 500px;
    height: 250px;
    margin: 0 auto;
}
.main-container .data-container section{
    display: flex;
    width: 50%;
    align-items: flex-start
}

.income-container{
    justify-content: center;
    border-right: 1px solid var(--black);
}

.expense-container{
    justify-content: center;
    flex-wrap: wrap;
}


.title-input{
    padding: 10px 10px;
    font-size: 2rem;
    border-radius: 36px;
    max-width: fit-content;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.income-title{
    color: var(--white);
    background-color: var(--blue);
    
}

.expense-title{
    color: var(--white);
    background-color: var(--soft-red);
}


.data-container input {
    color: var(--black);
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 0.1rem solid var(--black);
    text-align: center;
    font-size: 1.6rem;
    margin: 20px 0;
}

.income-input,
.expensive-input {
    display: flex;
    flex-direction: column;
}

.button-container {
    margin-top: 20px;
    justify-content: center;
    display: flex;
}

#btnCalcular {
    background-color: var(--soft-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    min-width: 150px;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    height: 60px;
}

.result {
    display: flex;
    width: 70%;
    min-width: 350px;
    max-width: 500px;
    margin: 10px auto;
    justify-content: center;
    flex-direction: column;
}

.result p{
    text-align: center;
    margin: 5px;
    font-size: 1.6rem;
    font-weight: bold;
}
